@import "_colors";

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
  

header {
  h1, h2 {
    text-align: center;
    padding: 5px;
    color: $white;
    background-color: $dark_green;
    margin: 0px;
  }
  h2.app-title {
    background-color: $green;
    padding: 10px;
  }
}

section {
  text-align: center;
    .container {
      max-width: 1000px;
    }
    .flex {
      display: flex;
      flex-direction: row;
      margin: auto;
      align-items: center;

      .flex-item {
        display: inline-block;
        flex-basis: auto;
        flex-grow: 1;
      }
  
    }
}

.center-text {
  text-align: center;
}

@media only screen and (max-device-width: 1000px){
  section {
    .flex {
      flex-direction: column;
      .flex-item {
        max-width: 90%;
        min-width: 300px;
      }
    }
  }
}
