// @import "_colors";

// .dropdown {
//   position: absolute;
//   max-width: 250px;
//   bottom: 5px;
//   padding: 5px 10px;
//   border-radius: 5px;
//   background-color: #FFFFFF;
//   left: 0;
//   right: 0;
//   margin: 0 auto;
//   height: 35px;
//   cursor: pointer;

//   > .selected {
//     display: inline-block;
//     max-width: 250px;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     font-size: 20px;
//     color: $dark_green;
//   }

//   &::after {
//     content: "";
//     width: 0;
//     height: 0;
//     position: absolute;
//     right: 16px;
//     top: 50%;
//     margin-top: -6px;
//     border-width: 6px 0 6px 6px;
//     border-style: solid;
//     border-color: transparent $orange; 
//     display: inline-block;
//     transition: transform 0.5s ease;
//   }

//   .fs-options-list {
//     position: absolute;
//     top: 50%;
//     max-height: 0;
//     width: 250px;
//     overflow-y: hidden;
//     transition: height 0.5s ease;
//     list-style: none;
//     text-align: left;
//     padding-left: 0;
//     .option {
//       padding: 5px 10px;
//       font-size: 16px;
//       background-color: $white;

//       &:hover {
//         background-color: lightgray;
//       }
//     }
//   }

//   &.open {
//     .fs-options-list {
//       overflow-y: auto;
//       max-height: 300px;
//     }

//     &::after {
//       transform: rotate(90deg);
//     }
//   }
// }

.Select {
  text-align: left;
}