@import "_colors";

.route-control {
  padding: 30px 30px 50px 30px;
  text-align: center;
  border: 2px solid #CCC;
  border-radius: 12px;
  margin: 30px 5px;
  position: relative;
  transition: background-color 0.5s ease;
  img {
    max-width: 70%;
    max-height: 150px;
    display: inline-block;
    margin: 15px;
  }
  &:hover {
    background-color: $light_green;
  }
}
